*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;	
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading{	
	width: 100%;
	background-color: #222;
	text-align: center;
	padding: 100px;
}
.heading h1{
	font-size: 3em;
	margin-bottom: 30px;
	color: white;
}
.heading p{
	font-size: 1.5em;
	color: blue;
}
.image{
	width: 100%;
	background-color: white;
}
.box{
	background-color: blue;
	width: 60%;
	height: 200px;
	margin: auto;
}